<div class="container">


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">pedi-gest</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Listado Camareros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/altaproducto">Alta Productos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/paginaproductos">Listado Productos</a>
            </li>
      
          </ul>
          
        </div>
      </nav>

      <router-outlet></router-outlet>


<!---



  <header>
    <div>
      <a routerLink="/about">{{title}}</a>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a routerLink="/about">Home</a>
      <a routerLink="/altaproducto">Alta Producto</a>
      <a routerLink="/paginaproductos">Listado Productos</a>
      <a routerLink="/listadocamareros">Listado Camareros</a>
    </nav>
  </header>
  <router-outlet></router-outlet>
</div>


-->




<!--


<div class="container">

  <alta-producto></alta-producto>

  <hr>

  <listado-productos-paginado></listado-productos-paginado>

  <h2>Listado de Camareros</h2>

  <table class="table">
    <tr>
      <th>ID</th>
      <th>Nombre Camarero</th>
    </tr>
    <tr *ngFor="let camarero of camareros">
      <td>{{camarero.codigo}}</td>
      <td>{{camarero.nombre}}</td>
    </tr>
  </table>

  <hr>

  <h2>Listado de Pedidos</h2>

  <table class="table">
    <tr>
      <th>Código</th>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Camarero</th>
      <th>Mesa</th>
    </tr>
    <tr *ngFor="let pedido of pedidos">
      <td>{{pedido.id}}</td>
      <td>{{pedido.fecha | date:'dd/MMM/yyyy'}}</td>
      <td>{{pedido.fecha | date:'HH:mm'}}</td>
      <td>{{pedido.camarero.nombre}}</td>
      <td>{{pedido.mesa}}</td>
    </tr>
  </table>

  <hr>

  

</div>

-->
