<h2>Listado de Camareros</h2>
<table>
  <tr>
    <th>ID</th>
    <th>Nombre Camarero</th>
  </tr>
  <tr *ngFor="let camarero of camareros">
    <td>{{camarero.id}}</td>
    <td>{{camarero.nombre}}</td>
  </tr>
</table>
<hr>
<h2>Listado de Productos</h2>
<table>
  <tr>
    <th>Código</th>
    <th>Nombre</th>
    <th>Precio</th>
    <th>Fecha de Alta</th>
    <th>Descripción</th>
    <th>Descatalogado</th>
  </tr>
  <tr *ngFor="let producto of productos">
    <td>{{producto.codigo}}</td>
    <td>{{producto.nombre}}</td>
    <td>{{producto.precio | currency:'EUR'}}</td>
    <td>{{producto.fechaAlta | date:'dd/MMM/yyyy'}}</td>
    <td>{{producto.descripcion}}</td>
    <td>{{producto.descatalogado}}</td>
  </tr>
</table>
